body {
    background-color:black;
    margin: 50px;
}
.principal {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    background-color:white;
    margin: 0 auto;
}
h1 {
    font-size:24px;
    font-weight:600;
    margin:0px;
}
h2 {
    font-size:18px;
    font-weight:500;
    margin:0px;
}
p {
    font-size:14px;
    font-weight:400;
}
.cabecera {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding:20px;
}
.icon-titu {
    display:flex;
    flex-direction:row;
    vertical-align: middle;
    
}
.encabezado {
    display:flex;
    flex-direction:column;
}
.icon-1 {
    display: flex;
    padding-right: 10px;
    
}
.icon-1 i {
    font-size:50px;
}
.contenido {
    padding:20px;
}
.iconos {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
i {
    font-size: 30px;
}